<!DOCTYPE html>
<html>
<head>
    <title>My Personal Spy Cam</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Logo Izquierda Superior -->
    <img class="logo" src="{{ url_for('static', filename='media/logo-idatha-negro.png') }}">

    <!-- Combo Usuario Derecha Superior -->
    <div class="user-menu" style="display: flex">
        <span id="user-name">User: {{ username }}</span>
        <div class="user-options">
            <a id="logout-link" href="/logout">Log Out</a>
        </div>
    </div>

    <!-- Video feed -->
    <div class="video-feed">
        <div class="video-container">
            <div class="model-text">
                {{ model_text }}
            </div>
            <img class="streaming centered" src="{{ url_for('video_feed') }}">
        </div>
    </div>

    <!-- Animación Cargando -->
    <div id="loading-overlay" class="loading-overlay">
        <div class="loading-spinner"></div>
    </div>

    <!-- Pop up Manage Users -->
    <div class="modal" id="user-modal">
        <div class="modal-content">
            <h2>Ingresa tu dirección de email y rol</h2>
            <input type="email" id="user-email" placeholder="Email"> <br><br>
            <button id="add-user-button">Agregar usuario</button>
            <button id="delete-user-button">Borrar usuario</button>
            <span id="error-message"></span>
            <h3>Usuarios existentes:</h3>
            <ul class="user-list" id="user-list">
                <!-- La lista de usuarios se generará aquí dinámicamente con JavaScript -->
            </ul>
        </div>
    </div>

    <!-- Pop up Change Models Folder -->
    <div class="modal" id="change-models-folder-modal">
        <div class="modal-content" id="modal-change-models">
            <h2>Ingrese la URL de Google Drive donde se encuentran los modelos a descargar</h2>
            <input type="text" id="models-folder-url" placeholder="URL de Google Drive">
            <p class="alert-text">Es necesario que la carpeta de Google Drive proporcionada tenga permiso de "Editor" para cualquiera con el link.</p>
            <button id="confirm-models-folder-button">Confirmar</button>
            <br>
            <span id="info-message"></span>
        </div>
    </div>

    <!-- Pop up Show Recordings -->
    <div id="recordings-popup" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>Recordings</h2>
            <div class="recordings-list">
                <!-- Contenedor para mostrar las grabaciones -->
            </div>
        </div>
    </div>

    <!-- Button Container -->
    <div class="button-container">
        <button class="manage-users-button" id="manage-users-button">Manage Users</button>
        <button class="reload-model-button" id="reload-model-button">Reload Model</button>
        <button class="change-models-folder-button" id="change-models-folder-button">Change Models Folder</button>
        <button class="show-recordings-button" id="show-recordings-button">Show Recordings</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
